services:
  app:
    # ffmpeg向けに明示する
    platform: linux/amd64
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        USER_UID: 1000

    volumes:
      - type: bind
        source: ..
        target: /usr/src/app
        consistency: cached
      - ../config:/config
      - ../output:/output
      - ../export:/export
    environment:
      PYTHONPATH: '/usr/src/app/src'
      CONFIG_PATH: '/config/config.yml'
      OUTPUT_PATH: '/output'
    env_file:
      - .env
