services:
  app:
    # ffmpeg向けに明示する
    platform: linux/amd64
    build:
      context: ..
      dockerfile: Dockerfile
    volumes:
      - type: bind
        source: ..
        target: /usr/src/app
        consistency: cached
      - type: bind
        source: ../config
        target: /config
      - type: bind
        source: ../output
        target: /output
      - type: bind
        source: ../export
        target: /export
      - type: bind
        source: ~/.ssh
        target: /home/appuser/.ssh
    environment:
      PYTHONPATH: '/usr/src/app/src'
      CONFIG_PATH: '/config/config.yml'
      OUTPUT_PATH: '/output'
    env_file:
      - .env
